<p>
  pokemon works!
</p>

<div class="d-flex justify-content-center">
  <div class="card border-secondary">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="text" [(ngModel)]="filtroNombre" (input)="aplicarFiltro()" placeholder="Buscar por nombre" />
              <button type="button" class="btn btn-outline-dark m-2" (click)="ordenarAscendente()">A - Z</button>
              <button type="button" class="btn btn-outline-dark m-2" (click)="ordenarDescendente()">Z - A</button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datosFiltrados | paginate: { itemsPerPage: pageSize, currentPage: p, totalItems: totalItems }">
            <td class="text-center" (click)="abrirDialogo(dato)" scope="row">{{ dato.name }}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="cambiarPagina($event)"></pagination-controls>
    </div>
  </div>
</div>


