<div class="dialog-overlay"></div>
<div class="dialog-container">
  <div class="card">
    <div class="m-2">
      <div *ngIf="detalles">
        <h1>Detalles del Pokémon</h1>
        <li>Nombre: {{ detalles.name }}</li>
        <li>Nro Pokédex: {{ detalles.id }}</li>
        <li>Peso: {{ detalles.weight }} kg</li>
        <li>Altura: {{ detalles.height }} m</li>
        <div *ngFor="let item of detalles.types">
          <li>Tipo: {{item.type.name}}</li>
        </div>
        <h2>Estadisticas Base</h2>

        <div *ngFor="let item of detalles.stats">
          <li>{{item.stat.name}}: {{item.base_stat}}</li>
        </div>

        <h2>Sprites</h2>
        <img [src]="detalles.sprites.front_default" alt="Sprite Frontal Base">
        <img [src]="detalles.sprites.back_default" alt="Sprite Trasero Base">
        <img [src]="detalles.sprites.front_shiny" alt="Sprite Frontal Shiny">
        <img [src]="detalles.sprites.back_shiny" alt="Sprite Frontal Shiny">

        <div id="carouselContainer">
          <!-- Carousel wrapper -->
          <div id="carouselDarkVariant" class="carousel slide carousel-fade carousel-dark" data-mdb-ride="carousel">


            <!-- Inner -->
            <div class="carousel-inner">
              <!-- Single item -->
              <div class="carousel-item active">
                <img *ngIf=" boton == 0 "  [src]="arrIMG[0]" class="d-block w-100" alt="Sunset Over the City" id="fotopokemon"/>

                <img *ngIf=" boton == 1  "  [src]="arrIMG[1]" class="d-block w-100" alt="Sunset Over the City" id="fotopokemon"/>

                <img *ngIf=" boton == 2  "  [src]="arrIMG[2]" class="d-block w-100" alt="Sunset Over the City" id="fotopokemon"/>

                <img *ngIf=" boton == 3  "  [src]="arrIMG[3]" class="d-block w-100" alt="Sunset Over the City" id="fotopokemon"/>
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>

            </div>
            <!-- Inner -->

            <!-- Controls -->
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="prev" (click)="retrocederIMG()">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselDarkVariant" data-mdb-slide="next" (click)="avanzarIMG()">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Carousel wrapper -->
        </div>

        <mat-dialog-actions>
          <button mat-button [mat-dialog-close]="true" class="btn btn-primary">Cerrar</button>
        </mat-dialog-actions>
      </div>
    </div>
  </div>

</div>

